.foot-color {
    background-color: #081639;
    color: #fff;
}

.ul-media .active {
    color: #EB5508;
    padding-bottom: 12px;
    font-weight: 500;
    list-style: none;
    font-size: 16px;
}

.ul-media li {
    font-size: 14px;
    padding-bottom: 10px;
}

.ul-media {
    margin-top: 30px;
}

.foot-bot h2 {
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

.con-us {
    background-color: #fff;
    border-radius: 12px;
    padding: 10px 15px;
    box-shadow: 2px 3px 15px 0px #e0e0e0!important;
    -webkit-box-shadow: 2px 3px 15px 0px #e0e0e0!important;
    margin-bottom: 40px;
}

.btn1-us {
    text-align: right!important;
    margin-right: 30px;
    float: right!important;
    padding: 7px 15px;
}

.bnd-x1 .txt-1 {
    font-size: 24px!important;
    font-weight: 500;
    padding-left: 25px;
}

.btn-us {
    background-color: #EB5508;
    color: #fff;
}

.bnd-x1 {
    padding-bottom: 20px;
    padding-top: 10px;
}