<!-- <nav class="navbar navbar-expand-md  navbar-dark white ">
    <div class="container">
        


        
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light pay-dark bg-light sticky-top">
    <a class="navbar-brand" routerLink="/">
        <!-- <img src="assets/img/bmac-logo.png" alt="logo" /> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                                                <span class="button-label">Menu</span>
                                                            <span class="icon-bar"></span>
                                                            <span class="icon-bar"></span>
                                                            <span class="icon-bar"></span>
                                              </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav right-ft ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/account">Who we are</a>
                    <a class="dropdown-item" routerLink="/leadership">Our Leadership</a>
                    <a class="dropdown-item" routerLink="/payroll">Our Portfolio</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Services</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/account">BMAC Accounting</a>
                    <a class="dropdown-item" routerLink="/ims">BMAC IMS</a>
                    <a class="dropdown-item" routerLink="/payroll">BMAC HR Payroll</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/career">Career</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/industry">Industry</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://blog.onebmac.com/">Blog</a>
            </li>

            <!-- <li class="nav-item ">
                <a class="nav-link secure" href="https://sme.onebmac.com/secure/sign-in">Sign in</a>
            </li> -->
        </ul>
    </div>
</nav>