<!-- image displayed here -->
<section>
    <div class="">
        <img src="{{ contact }}" class="log-x2">
        <!-- <h2>Contact</h2> -->
    </div>
</section>
<!-- content for contact here -->
<section>
    <div class="container">
        <div class="row sp-cont">
            <!-- Office details here -->
            <div class="col-md-6 str-dr">
                <div class="f-us">
                    <h2>Where to find us</h2>
                </div>

                <!-- FIrst office location -->
                <div class="off-lag">
                    <h2>LAGOS</h2>
                    <p>
                        Plot 46 Ishawu Adewale Street<br> Off Modupe Johnson Crescent,<br> Surulere, Lagos<br> Nigeria.
                        <br> Call: +2349-671-7087<br> Email: info@ssacltd.com<br>
                    </p>
                </div>

                <!-- Abuja office location -->
                <div class="off-lag">
                    <h2>ABUJA</h2>
                    <p>
                        Plot 607 Dambata Road<br> Area 7 Garki, Abuja,<br> Nigeria.
                        <br> Call: +2349-671-7087<br> Email: info@ssacltd.com<br>
                    </p>
                </div>

                <!-- Delta office location -->
                <div class="off-lag">
                    <h2>PORT HARCOURT</h2>
                    <p>
                        No. 1 Nali Estate<br> Off 175B, Port Harcourt/Aba Expressway
                        <br> Nigeria.
                        <br> Call: +234-813 984 0850-4<br> Email: info@ssacltd.com<br>
                    </p>
                </div>

                <!-- Benin office location -->
                <div class="off-lag">
                    <h2>BENIN</h2>
                    <p>
                        34 Ozeigbe, Off Owoseni Street,<br> Benin City
                        <br> Nigeria.
                        <br> Call: +234-813 984 0850-4<br> Email: info@ssacltd.com<br>
                    </p>
                </div>

            </div>
            <!-- form details here -->
            <div class="col-md-6">
                <div class="f-us">
                    <h2>Send us message</h2>
                </div>
                <div class="">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Company</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Company">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>